header{
  position: fixed;
width: 100%;
top: 0;
min-height: 75px;
padding: 0px 20px;
display: flex;
align-items: center;
background: white;
}
header li{
  display: inline-block;
flex-direction: row;
   padding-right: 2rem;
   position: relative;
   top: 10px;
   align-items: right;
   list-style: none;
   shado:

}
li a{
  list-style: none;
  text-decoration: none;
  color: black;
  text-align: right;
  a:
}
section{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
section a{
  color: white;
}
@media (color) {
  h1 {
    color: green;
  }
}
